html, body {
    margin: 0px;
}

textarea {
    display: block;
    width: 100%
}

canvas {
    border: 2px solid black;
    margin: 10px 0;
}

#skeleton-image {
    border: 2px solid black;
    margin-bottom: 25px;
}

#output {
    font-size: 18px;
}
